.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    background-color: rgba(var(--navbar-bg),.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    height: 9.2rem;
    -webkit-transition: height .3s ease-in-out;
    -moz-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
}
  
.navbar-shrink {
    height: 6rem;
}

.navbar-container {
    position: relative;
    max-width: 1200px;
    display: -moz-box;
    display: flex;
    margin: 0 auto;
    -moz-box-align: center;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    letter-spacing: .6px;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}

.nav-name a {
    color: #01161e;
    text-decoration: none;
    font-weight: 500;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-list {
    display: flex;
}

.navbar-list ul {
    list-style-type: none;
}

.navbar-list li {
    list-style: none;
}

.navbar-item {
    margin-left: 2.4rem;
}

.navbar-item a {
    color: #01161e;
    text-decoration: none;
}

.navbar-item a:hover {
    color: #006d98;
}

@media screen and (max-width: 992px) {
    .navbar {
        height: 5rem;
    }
    .navbar-container {
        font-size: 1rem;
    }
}